.footer {
  padding: 90px 0;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    width: 186px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    a {
      transition: 0.2s;
      &:hover {
        color: #ff0000;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
